* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* common */
.container {
    width: ;
}

/* Header */
.header {
    min-height: 100vh;
    background:var(--header-bg);
}