* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header */
.header {
    min-height: 100vh;
    background:var(--header-bg);
}

.logo {
    font-size: 1rem;
    position: relative;
}

.logo__circle::before,
.logo__circle::after {
    content: " ";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3rem;
    height: 3em;
    background-color: #2E80CE;
}

.logo__circle::after {
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    background-color: #ffffff;
    
}