* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header */
.header {
    min-height: 100vh;
    background:var(--header-bg);
}

.logo {
    font
}